body{

    font-family: 'Times New Roman', Times, serif;
    background-color: azure;
}

#butter-chicken {

    height: 200;
    width: 300;
}

h1,h3{
    color:rgb(13, 88, 150);
    
    
}
.heading-2{

    font-weight: bold;
}
ol a{
    font-family: Monaco;
}